:root {
    --card-offset: 25px;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    width: 100%;
}

#page-wrapper,
#content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content-wrapper {
    width: fit-content;
    border: 1px solid #000000;
    margin: 10px 0px;
    background-color: #dfdfdf;
}

#cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    height: fit-content;
    padding: 2em 2em 0 2em;
}

.card-group {
    position: relative;
    padding-bottom: calc(var(--card-offset) * 2.5);
    padding-right: var(--card-offset);

    margin-left: var(--card-offset);
    margin-right: calc(var(--card-offset) / 2.5);
}

.visible-card {
    position: absolute;
    top: var(--card-offset);
    left: var(--card-offset);
    z-index: 2;
}

.visible-card,
.hidden-card,
.placeholder-card {
    user-select: none;
}

.visible-card > img,
.hidden-card > img,
.placeholder-card > img {
    max-width: 100%;
    height: auto;
}

.selected-card {
    filter: brightness(75%);
}

#submit-button {
    cursor: pointer;
    filter: brightness(75%);
    transition: 0.1s;
    max-width: 75%;
    height: auto;
}

#submit-button:hover {
    filter: brightness(120%);
    transition: 0.1s;
}

.header-left,
.header-center,
.header-right {
    width: 33.33333%;
    text-align: center;
}

.fake-button {
    user-select: none;
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    flex: 1;
}

.fake-button:hover {
    filter: brightness(90%);
    transition: 0.1s;
}

.button-wrapper {
    display: flex;
    justify-content: space-between;
}

@media (orientation:portrait) {
    #cards-grid {
        grid-template-columns: 1fr 1fr;
        padding: 0;
    }
    #content-wrapper {
        width: 100%;
    }
    .card-group {
        margin: auto;
    }
    html, body {
        /* Reset to "default" values */
        width: fit-content;
        height: fit-content;
        margin: 8px;
    }
}
