:root {
    --card-offset: 25px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: fit-content;
    height: fit-content;
    background-color: #dfdfdf;
    padding: 2em;
}

.quiddler-card {
    position: relative;
    padding-bottom: calc(var(--card-offset) * 2.5);
    padding-right: calc(var(--card-offset) * 2);
}

.visible-card {
    position: absolute;
    top: var(--card-offset);
    left: var(--card-offset);
    z-index: 2;
}

.visible-card,
.hidden-card,
.placeholder-card {
    user-select: none;
}

.visible-card > img,
.hidden-card > img,
.placeholder-card > img {
    width: 100%;
}

.selected-card {
    filter: brightness(75%);
}
